.app-inner-text {
  width: 1000px;
  height: auto;
  top:  16%;
  left:  50%;
  margin-left: -500px;
}
.case-text {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
}
.case-list img {
  display: block;
}
.case-list{
  width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 58px 0 64px;
}
.case-list-box {
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 64px;
}
.case-list-box span {
  display: block;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  padding: 20px;
}
.case-list-box:last-child {
  margin-bottom: 0;
}