
.main1-link {
  display: block;
  width: 288px;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  font-size: 24px;
  color: #fff;
  margin:  40px auto 0;
  background-color: #4b8eff;
}
.main1-link:hover{
  background-color: #447fe4;
}
.content-main2 {
  padding: 120px 0 164px;
}
.main2-tit {
  font-size: 40px;
  margin-bottom: 18px;
}
.main2-des {
  font-size: 24px;
  color: #9b9b9b;
}
.main-inner {
  width: 1000px;
  height: auto;
  margin: 60px auto 0;
}
.main-inner li {
  width: 33%;
  text-align: center;
}
.main-inner-text1 {
  font-size: 20px;
  font-weight: 500;
  margin: 33px 0 20px;
  position: relative;
}
.main-inner-text1::after {
  display: block;
  content: " ";
  width: 24px;
  height: 3px;
  background-color: #4a4a4a;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -12px;
}
.main-inner-text2 {
  font-size: 16px;
  color: #9b9b9b;
}
.content-main3 {
  padding:  100px 0 140px;
  background-color: #f6f7f8;
}
.main3-list div {
  position: relative;
  padding-right: 5px;
}
.main3-list img {
  display: block;
  width: 100%;
  height: auto;
}
.main3-list div:nth-child(2) {
  margin-top: 10px;
}
.text-right  {
  position: absolute;
  bottom: 20px;
  right: 02px;
  transform:  translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
}
.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
}