html {
  width: 100%;
  min-height: 100%;
  padding-bottom: 0.5rem;
}
.badge-info {
  width: 100%;
  height: auto;
  padding-top: 2.46rem;
}
.badge-info-img {
  display: block;
  width: 89%;
  height: auto;
  margin: 0 auto;
}
.badge-info-title {
  margin-top: 1.24rem;
  font-size: 0.48rem;
  color: rgb(69,32,6);
}
.badge-info-level {
  padding: 0 5%;
  line-height: 150%;
  margin-top: 0.3rem;
  font-size: 0.28rem;
  color:rgb(192,152,132);
}
.badge-info-desc {
  padding: 0 5%;
  margin-top: 0.4rem;
  line-height: 150%;
  color: rgb(171,166,158);
  font-size: 0.28rem;
}